@use 'sass:color';
@use './colors' as *;
@use './variables' as *;
@use './mixins' as *;

body {
  background-color: $background-color;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  // transform: translate(-40%, -40%);
  // background-color: $gradient-color_2;
  // border-radius: 100%;
  // width: 500px;
  // height: 500px;
  z-index: 0;
  // filter: blur(200px);
  // opacity: 0.8;

  &::after {
    content: '';
    display: block;
    background-color: red;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

/* App container */
#root {
  position: relative;
  background-color: $background-color;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  @include overflow(hidden);
  @include hideScrollbar();
  color: $shade_1;
}

.chip {
  @include cursorPointer();
  @include shadow(small);
  // border: 1px solid $shade_1;
  background-color: $shade_5;
  height: 100%;
  min-height: $control-height_s;
  max-height: $control-height_s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: $spacing_s;
  border-radius: $border-radius_l;
  color: $shade_2;
  font-size: $font-size_s;
}

button {
  @include unset();
  @include cursorPointer();
  @include shadow(medium);

  position: relative;
  min-height: $control-height_m;
  max-height: $control-height_m;
  height: 100%;
  padding-inline: $spacing_l;
  border-radius: $border-radius_s;
  background: $shade_1;
  font-weight: 500;
  color: $shade_6;
  text-align: center;

  &:has(svg) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing_s;

    svg {
      font-size: inherit;
    }
  }

  &.btn {
    &-transparent {
      background-color: transparent;
      color: $shade_1;
      box-shadow: none;
    }

    &-secondary {
      background-color: transparent;
      border: 1px solid $shade_1;
      color: $shade_1;

      &-transparent {
        background-color: transparent;
        color: $shade_1;
        box-shadow: none;
      }
    }

    &-danger {
      background-color: $color_danger;
      color: $shade_1;

      &-transparent {
        background-color: transparent;
        color: $color_danger;
        box-shadow: none;
      }
    }

    &-text {
      background-color: transparent;
      color: $shade_1;
      box-shadow: none;
      padding: 0;
      width: max-content;
    }

    &-icon {
      aspect-ratio: 1 / 1;
      padding-inline: 0;

      & > *:not(svg) {
        display: none;
      }
    }
  }

  &.content {
    width: max-content;
  }
}

.container {
  gap: $spacing_s;
  @include flexContainer(column);
  // overflow-x: hidden;

  &.row {
    @include flexContainer(row);
  }

  &.restrict {
    max-width: $restrict-width;
    align-self: center;
  }
}

.panel {
  padding: $spacing_m;
  padding-block: $spacing_l;
  background-color: $foreground-color;
  gap: $spacing_s;
  @include flexContainer(column);
  border-radius: $border-radius_m;
  @include shadow();

  &.row {
    @include flexContainer(row);
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

hr {
  all: unset;
  box-sizing: border-box;
  border-top: 1px solid white;
  opacity: 0.1;
  margin-block: $spacing_s;
}

.navbar {
  z-index: 1;
}

input[type='text'],
input[type='password'],
input[type='url'],
input[type='tel'],
input[type='search'],
input[type='email'],
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='email'],
input[type='number'],
select {
  @include unset();
  background-color: $shade_6;
  max-height: $control-height_m;
  min-height: $control-height_m;
  height: 100%;
  padding-inline: $spacing_m;
  border-radius: $border-radius_s;
  font-weight: 300;
  min-width: $control-min-width;
  max-width: $control-max-width;
  flex-grow: 1;
  display: flex;
  align-items: center;

  &:focus {
    border: 2px solid $color_tertiary;
    @include glow();
  }

  &.width-max {
    width: 100%;
    max-width: 100%;
  }
}

select {
  min-width: 200px;
}

textarea {
  @include unset();
  background-color: $shade_6;
  padding-inline: $spacing_m;
  padding-block: $spacing_s;
  width: 100%;
  min-height: 100px;
  border-radius: $border-radius_s;
  word-wrap: break-word;
  font-weight: 300;

  &:focus {
    border: 2px solid $color_tertiary;
    @include glow();
  }
}

input[type='checkbox'] {
  @include unset();
  height: $control-height_s;
  width: $control-height_s;
  background-color: $shade_6;
  border-radius: $border-radius_s;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;

  &:checked {
    border: 2px solid $color_tertiary;
    @include glow();

    &::after {
      position: absolute;
      @include glow();
      content: '';
      background-color: $color_tertiary;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      border-radius: $border-radius_s;
      scale: 0.6;
    }
  }
}

input[type='radio'] {
  @include unset();
  height: $control-height_s;
  width: $control-height_s;
  background-color: $shade_6;
  border-radius: $border-radius_l;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;

  &:checked {
    border: 2px solid $color_tertiary;
    @include glow();

    &::after {
      position: absolute;
      @include glow();
      content: '';
      background-color: $color_tertiary;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      scale: 0.6;
      border-radius: $border-radius_l;
    }
  }
}

input[type='date'],
input[type='time'] {
  min-width: $control-min-width;

  &::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
  }
}

input[type='file'] {
  @include unset();
  color: $color_tertiary;
  display: flex;

  &::file-selector-button {
    @include unset();
    @include cursorPointer();
    @include shadow(medium);

    position: relative;
    min-height: $control-height_m;
    max-height: $control-height_m;
    height: 100%;
    padding-inline: $spacing_l;
    border-radius: $border-radius_s;
    background: $shade_1;
    font-weight: 500;
    color: $shade_6;
    text-align: center;

    background-color: transparent;
    border: 1px solid $shade_1;
    color: $shade_1;
    margin-right: $spacing_s;
  }
}

input[type='range'] {
  height: $control-height_m;
}
