@use 'sass:color';

$color_primary: #33a3e3;
$color_secondary: #e140a0;
$color_tertiary: rgb(45, 104, 200);

$gradient-color_1: rgb(96, 41, 144);
$gradient-color_2: rgb(15, 15, 15);
$color_gradient: linear-gradient(45deg, $gradient-color_1, $gradient-color_2);

$color_default: #607d8b;
$color_success: #4caf50;
$color_warning: #ff9800;
$color_danger: #f44336;

$color_white: rgb(244, 244, 244);
$color_black: rgb(10, 10, 10);

$tint-black-value: 100%;
$tint-black: color.mix(black, white, $tint-black-value);
$tint-value: 20%;
$tint: rgb(98, 153, 255);
$background-color_light: rgb(236, 236, 236);
$background-color_dark: color.mix($tint, $tint-black, $tint-value);

/* light mode colors */
$shade-light_1: color.mix($background-color_dark, $background-color_light, 95%);
$shade-light_2: color.mix($background-color_dark, $background-color_light, 80%);
$shade-light_3: color.mix($background-color_dark, $background-color_light, 60%);
$shade-light_4: color.mix($background-color_dark, $background-color_light, 40%);
$shade-light_5: color.mix($background-color_dark, $background-color_light, 20%);
$shade-light_6: color.mix($background-color_dark, $background-color_light, 0%);

/* dark mode colors */
$shade-dark_1: color.mix($background-color_light, $background-color_dark, 95%);
$shade-dark_2: color.mix($background-color_light, $background-color_dark, 80%);
$shade-dark_3: color.mix($background-color_light, $background-color_dark, 60%);
$shade-dark_4: color.mix($background-color_light, $background-color_dark, 40%);
$shade-dark_5: color.mix($background-color_light, $background-color_dark, 20%);
$shade-dark_6: color.mix($background-color_light, $background-color_dark, 0%);

:root,
#root[data-theme='light'] {
  /* Light mode colors */
  --shade-color_1: #{$shade-light_1};
  --shade-color_2: #{$shade-light_2};
  --shade-color_3: #{$shade-light_3};
  --shade-color_4: #{$shade-light_4};
  --shade-color_5: #{$shade-light_5};
  --shade-color_6: #{$shade-light_6};

  --background-color: #{$background-color_light};

  --foreground-color: #{$color_white};
  --foreground-color-outline: #{color.mix($color_black, $color_white, 20%)};
}

#root[data-theme='dark'] {
  /* Dark mode colors */
  --shade-color_1: #{$shade-dark_1};
  --shade-color_2: #{$shade-dark_2};
  --shade-color_3: #{$shade-dark_3};
  --shade-color_4: #{$shade-dark_4};
  --shade-color_5: #{$shade-dark_5};
  --shade-color_6: #{$shade-dark_6};

  --background-color: #{$background-color_dark};

  --foreground-color: #{color.mix($color_white, $background-color_dark, 5%)};
  --foreground-color-outline: #{color.mix($color_black, $color_white, 80%)};
}
$shade_1: var(--shade-color_1);
$shade_2: var(--shade-color_2);
$shade_3: var(--shade-color_3);
$shade_4: var(--shade-color_4);
$shade_5: var(--shade-color_5);
$shade_6: var(--shade-color_6);

$foreground-color: var(--foreground-color);
$foreground-color-outline: var(--foreground-color-outline);

$background-color: var(--background-color);
