@use './variables' as *;
@use './colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Special+Gothic+Expanded+One&display=swap');

@mixin body-font() {
  font-family: 'Rubik', sans-serif;
}
@mixin header-font() {
  // font-family: 'Special Gothic Expanded One', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.font-size_xs {
  font-size: $font-size_xs;
}
.font-size_s {
  font-size: $font-size_s;
}
.font-size_m {
  font-size: $font-size_m;
}
.font-size_l {
  font-size: $font-size_l;
}
.font-size_xl {
  font-size: $font-size_xl;
}

body {
  @include body-font();
  font-size: $font-size_m;
}

h1 {
  @include header-font();
  font-size: $font-size_xl;
  font-weight: 600;
  // letter-spacing: calc($font-size_xl * 0.05);
  margin-bottom: $spacing_s;
  color: $color_primary;
}

h2 {
  @include header-font();
  font-size: $font-size_l;
  font-weight: 600;
  // letter-spacing: calc($font-size_l * 0.05);
  margin-bottom: $spacing_s;
  color: $color_primary;
}

h3 {
  @include body-font();
  font-size: $font-size_m;
  font-weight: 600;
  margin-bottom: $spacing_s;
}

p,
span {
  @include body-font();
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.text-align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

.text-color {
  &-shade-6 {
    color: $shade_6;
  }
  &-shade-1 {
    color: $shade_1;
  }
  &-primary {
    color: $color_primary;
  }
  &-secondary {
    color: $color_secondary;
  }
  &-tertiary {
    color: $color_tertiary;
  }
  &-black {
    color: $color_black;
  }
  &-white {
    color: $color_white;
  }
  &-success {
    color: $color_success;
  }
  &-warning {
    color: $color_warning;
  }
  &-danger {
    color: $color_danger;
  }
}
