@use './variables' as *;
@use './colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@mixin body-font() {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  // font-family: 'Rubik', sans-serif;
}
@mixin header-font() {
  font-family: 'Overpass', sans-serif;
}

.font-size-xs {
  font-size: $font-size_xs;
}
.font-size-s {
  font-size: $font-size_s;
}
.font-size-m {
  font-size: $font-size_m;
}
.font-size-l {
  font-size: $font-size_l;
}
.font-size-xl {
  font-size: $font-size_xl;
}
.font-size-xxl {
  font-size: $font-size_xxl;
}

body {
  @include body-font();
  font-size: $font-size_m;
  line-height: 150%;
}

h1 {
  @include header-font();
  font-size: $font-size_xxl;
  font-weight: 900;
  // letter-spacing: calc($font-size_xl * 0.05);
  margin-bottom: $spacing_s;
  color: $color_primary;
  line-height: 100%;
}

h2 {
  @include header-font();
  font-size: $font-size_xl;
  font-weight: 900;
  margin-bottom: $spacing_s;
  color: $color_primary;
  line-height: 100%;
}

h3 {
  @include header-font();
  font-size: $font-size_m;
  font-weight: 800;
  margin-bottom: $spacing_s;
  line-height: 100%;
}

p,
span {
  @include body-font();
}

p,
span {
  &.font-size {
    &-small {
      font-size: $font-size_s;
    }
    &-extra-small {
      font-size: $font-size_xs;
    }
  }
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.text-align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

.font-color {
  &-shade-6 {
    color: $shade_6;
  }
  &-shade-1 {
    color: $shade_1;
  }
  &-primary {
    color: $color_primary;
  }
  &-secondary {
    color: $color_secondary;
  }
  &-tertiary {
    color: $color_tertiary;
  }
  &-black {
    color: $color_black;
  }
  &-white {
    color: $color_white;
  }
  &-success {
    color: $color_success;
  }
  &-warning {
    color: $color_warning;
  }
  &-danger {
    color: $color_danger;
  }
}
